* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* 1. STYLING FOR HEADER AND NAV
    STARTS HERE */
    body{
        background: #FAFBFC;
        font-family: 'Poppins', sans-serif;
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        padding: 15px 2%;
        background:white;
        position: sticky; 
        /* using sticky for header hence not using fixed */
        top: 0;
        z-index: 11;
    }
    
    .logo {
        margin-right: auto;
        text-decoration: none;
    }
    
    .nav__links {
        list-style: none;
        display: flex;
    }
    
    .nav__links a,
    .cta,
    .overlay__content a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #000000;
        text-decoration: none;
    }
    
    .nav__links li {
        padding: 0px 20px;
    }
    
    .nav__links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav__links li a:hover {
        color: #0088a9;
    }
    
    .cta {
        font-size: 15px;
        margin-left: 20px;
        padding: 9px 25px;
        background-color: #1865F2;
        border: 2px solid transparent;
        color: #edf0f1;
        border-radius: 7px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .cta-schedule {
        background-color: #000000;
        }
        .dropdown-toggle{
            text-decoration: none;
            color: black;
        }
        
    .cta:hover {
        background-color: rgba(255, 255, 255);
        border-color: #1865F2;
        color:#000000;
        }
    .cta-schedule:hover {
        background-color: rgba(255, 255, 255);
        border-color: #000000;
    }
        
        /* Mobile Nav */
        
        .menu {
            display: none;
        }
        
        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 12;
            left: 0;
            top: 0;
            background-color: #ffffff;
            overflow-x: hidden;
            transition: all 0.5s ease 0s;
        }
        
        .overlay--active {
            width: 100%;
            color: #d7dadb;
    }
    
    .overlay__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .overlay a {
        color: #a1a1a1;
        padding: 15px;
        font-size: 25px;
        display: block;
        transition: all 0.3s ease 0s;
    }
    
    .overlay a:hover,
    .overlay a:focus {
        color: #000000;
    }
    .overlay .close {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #a1a1a1;
        cursor: pointer;
    }
    @media only screen and (max-width: 1000px) {
        .nav__links{
            font-size: 13px;
        }
        .cta {
            font-size: 12px;
            margin-left: 15px;
            padding: 6px 10px;
    }}
    
    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px;
        }
        .overlay .close {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
    
    @media only screen and (max-width: 800px) {
        .nav__links,
        .cta {
            display: none;
        }
        .menu {
            display: initial;
        }
    }
    
    /* 1. STYLING FOR HEADER AND NAV
    ENDS HERE */

    .landing-page{
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    .counc-img{
        max-width: 100%;
  height: auto;
    }
    .green{
        color: green;
    }
    .blue{
        color: blue;
    }

    @media screen and (max-width:1140px){
        h1{
            font-size: 28px;
        }
        h3{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
    }


    
    @media screen and (max-width:1080px){
        .landing-page {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .counc-3stream{
        background: rgba(0, 0, 0, 0.97);
border-radius: 48px;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 2% 12%;
    }
    .section{
        color: #F1F1F1;
        font-weight: 300;
    }
    .pink{
        color: pink;
    }
    .para{
        font-weight: 300;
        color: #F1F1F1;
    }
    .stream1,.stream2,.stream3{
        margin: 2%;
        padding:2%;
    }
    .stream1,.stream2{
        border-right: 1px solid;
    }


    @media screen and (max-width:1275px){
        .stream1,.stream2{
            border-bottom: 1px solid;
        }
        .stream2{
            border-right: none;
            border-left: 1px solid;
        }
    }
    @media screen and (max-width:780px){
        .stream1,.stream2{
            border-right: none;
            border-left: none;
        }
    }

    
    
    .hw-almkl-hlp-cntnr{
        border: 6px solid rgba(19, 19, 19);
        box-sizing: border-box;
        border-radius: 57px;
        display: flex;
        margin:5%;
        background: white;
    }
    .sect1,.sect2{
        border-right: 1px solid #7e7e7e;
        padding: 20px 30px;
    }
    @media screen and (max-width:620px){
        .hw-almkl-hlp-cntnr{
            display: flex;
    flex-direction: column;
        }
        .sect1,.sect2{
            border-right: none;
    border-bottom: 1px solid #7e7e7e;
        }
    }
    .sect3{
        padding: 20px 30px;
    }
    .hlp-heading{
        text-align: center;
    }


    .main-body {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #1a202c;
        text-align: left;
    }
    .card-header:first-child {
        border-radius: .25rem .25rem 0 0;
    }
    .p-3 {
        padding: 1rem!important;
    }
    .align-items-start {
        align-items: flex-start!important;
    }
    .flex-column {
        flex-direction: column!important;
    }
    .border-bottom {
        border-bottom: 1px solid #cbd5e0!important;
    }
    .card-footer, .card-header {
        display: flex;
        align-items: center;
    }
    .card-header {
        padding: .5rem 1rem;
        margin-bottom: 0;
        background-color: rgb(255, 255, 255);
        border-bottom: 0 solid rgba(0,0,0,.125);
    }
    .card-footer:last-child {
        border-radius: 0 0 .25rem .25rem;
    }
    /* .h3, h3 {
        font-size: 1.75rem;
    } */
    .p-3 {
        padding: 1rem!important;
    }
    .justify-content-center {
        justify-content: center!important;
    }
    .card-footer, .card-header {
        display: flex;
        align-items: center;
    }
    .card-footer {
        padding: .5rem 1rem;
        background-color: rgb(255, 255, 255);
        border-top: 0 solid rgba(0,0,0,.125);
    }
    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }



    :root {
        --color-white: #f3f3f3;
        --color-darkblue: #1b1b32;
        --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
        --color-green: #37af65;
      }
      
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      
      .container-form {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        color: var(--color-darkblue);
        margin: 0;
    }
    
    .cnclng-form{
          background-image: url(/picture/councelling/Frame\ 73\ \(1\).svg);
          background-size:100% 90%;
          background-repeat: no-repeat;
          
      }

      /* mobile friendly alternative to using background-attachment: fixed */

      .container-form::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
      
      }
      p {
        font-size: 1.125rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
      label {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
      }
      
      input,
      button,
      select,
      textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
      }
      
      button {
        border: none;
      }
      
      .container-form {
        width: 100%;
        margin: 3.125rem auto 0 auto;
      }
      
      @media (min-width: 576px) {
        .container-form {
          max-width: 540px;
        }
      }
      
      @media (min-width: 768px) {
        .container-form {
          max-width: 720px;
        }
      }
      
      .header {
        padding: 0 0.625rem;
        margin-bottom: 1.875rem;
      }
      
      .description {
        font-style: italic;
        font-weight: 200;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
      }
      
      .clue {
        margin-left: 0.25rem;
        font-size: 0.9rem;
        color: --color-darkblue-alpha;
      }
      
      .text-center {
        text-align: center;
      }
      
      /* form */
      
      form {
        padding: 2.5rem 0.625rem;
      }
      
      @media (min-width: 480px) {
        form {
          padding: 2.5rem;
        }
      }
      
      .form-group {
        margin: 0 auto 1.25rem auto;
        padding: 0.25rem;
      }
      
      .form-control {
        display: block;
        width: 100%;
        height: 2.375rem;
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-color: #fff0;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      
      .form-control:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
      
      .input-radio,
      .input-checkbox {
        display: inline-block;
        margin-right: 0.625rem;
        min-height: 1.25rem;
        min-width: 1.25rem;
      }
      
      .input-textarea {
        min-height: 120px;
        width: 100%;
        padding: 0.625rem;
        resize: vertical;
        background-color: #fff0;
      }
      
      .submit-button {
        display: block;
        width: 100%;
        padding: 0.75rem;
        background: var(--color-green);
        color: inherit;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .rch-out-heading{
          margin-top: 20px;
          text-align: center;
      }


      /* footer */
      
 .list-unstyled a{
    text-decoration: none;
}


/* faq */


.faq {
	color: black;
	margin: 0 auto;
	padding: 100px 0;
	max-width: 600px;
}


.faq__question {
	max-width: 600px;
	margin: 30px auto;
}

.faq__toggle {
	list-style: none;
	font-size: 3.0vh;
	cursor: pointer;
	transition: opacity .3s;
}

.faq__toggle:hover {
	opacity: 0.7;
}

.faq__answer {
	overflow: hidden;
	color: #747474;
	font-size: 0.9em;
}

.faq__question[open] .faq__answer {
	transform: translateX(0);
}


@keyframes reveal {
	0% 		{ transform:translateY(0);  }
	100% 	{ transform:translateY(200%);  }
}

.faq__question[open] .faq__answer {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    { opacity: 0; margin-top: -10px; }
  100%  { opacity: 1; margin-top: 0px; }
}


/* font */
/* h1 {
    font-size: 5.9vw;
  }
  h2 {
    font-size: 3.0vh;
  }
  p {
    font-size: 2vmin;
  } */

  @media only screen and (max-width: 680px) {
    .faq {
        width: 90%;
    }
    
    .faq__toggle {
        font-size: 2.0vh;
    }
    
}






      /* footer */
      
      .list-unstyled a{
        text-decoration: none;
    }
    .darkk{
        background-color: #000!important;
    }